extends base

block content
  title= title
  h1= title
  a(href='/logout').btn.btn-primary.pull-right Logout
  form(name="input", action="/search", method="get")
    input(type="text", name="q")
    input.btn(type="submit", value="Submit")

  hr

  ul.tweets
    if tweets
      for tweet in tweets
        li.tweet
          span
            img(src=tweet.user.profile_image_url)
            a(href='/timeline/'+tweet.user.screen_name) @#{tweet.user.screen_name}
            br.clear
            p #{tweet.text}
    else
      p No tweets match this search

